.container {
    display: flex;
    border-bottom: 1px rgba(128, 128, 128, 0.36) solid;
}

.element {
    padding: 20px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.all {
    border-bottom: 3px black solid ;
}

.element:hover {
    /* border-bottom: 3px black solid ; */
    color: blue;
    cursor: pointer;
}